.login{
    width: 50%;
    height: 380px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
    padding: 4em;
    border-radius: 10px;
    background-color: aqua;
}
.boton{
    margin: 1em;
    background-color:blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}